asn1crypto==0.24.0
backports.functools-lru-cache==1.4
backports.weakref==1.0.post1
bleach==3.1.2
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
conda==4.5.5
configparser==3.5.0
cryptography==2.2.2
cycler==0.10.0
Cython==0.28.5
darkflow==1.0.0
decorator==4.0.11
django-appconf==1.0.2
django-imagekit==4.0.2
enum34==1.1.6
ffmpeg-python==0.1.10
funcsigs==1.0.2
future==0.16.0
h5py==2.7.1
html5lib==0.9999999
idna==2.7
imageio==2.1.2
Markdown==2.6.11
matplotlib==2.1.2
mock==2.0.0
moviepy==0.2.3.2
numpy==1.14.0
opencv-contrib-python==3.4.0.12
opencv-python==3.4.0.12
pandas==0.22.0
pbr==3.1.1
pilkit==2.0
Pillow==5.0.0
protobuf==3.5.1
pycosat==0.6.3
pycparser==2.18
pyOpenSSL==18.0.0
pyparsing==2.2.0
PySocks==1.6.8
python-dateutil==2.6.1
pytube==9.1.0
pytz==2017.3
requests==2.19.1
ruamel-yaml==0.15.42
scipy==1.0.0
six==1.11.0
tensorflow-gpu==1.4.0
tensorflow-tensorboard==0.4.0
tflearn==0.3.2
tqdm==4.11.2
urllib3==1.23
Werkzeug==0.14.1
